<h2>Contact me!</h2>

{{#if isSent}}
  <p>The message has been sent!</p>
  <p>File {{fileName}} has been saved</p>
{{/if}}

{{#if isError}}
  <p>You can't leave fields empty!</p>
{{/if}}

<form enctype="multipart/form-data" action="/contact/send-message" method="POST">
  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
  <label>
    File: <input type="file" name="file" accept=".png,.jpg,.jpeg,.gif" />
  </label>
   <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>
</form>